<div class="footer" role="contentinfo">
    <div class="footergrid-container">
        <div class="footergrid-item">
            <h3 style="text-align: left">IntEnzyDB</h3><br>
            <p>Bailu Yan, Xinchun Ran, Li Yuan, Sarah Torrence, Zhongyue (John) Yang<br><br>
                Contact: <a href="mailto: zjygrp2020@gmail.com">Email</a></p>
        </div>
    </div>
</div>