
<div class="header" role="banner">
    <span> <a href="index.html"><img class="logo" src="/public/logo.png" alt="Vanderbilt University Logo"></a></span>

    <div class="topnav" id="myTopnav" role="navigation">
        <h1>IntEnzyDB</h1>
        <a href="/" class="navbutton">Home</a>
        <a href="/research" class="navbutton">Research</a>
        <a href="/kinetics/list" class="navbutton">Database</a>
        <a href="/team" class="navbutton">Team</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"><span class="visually-hidden">Menu</span></i>
        </a>
    </div>
    <hr>
</div>
