<head>
    <meta charset="UTF-8">
    <meta name="description" content="Check out the IntEnzyDB database!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="IntEnzyDB, Database">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/logo.png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script defer src="functions.js"></script>
</head>

<div class="header" role="banner">
    <span> <a href="index.html"><img class="logo" src="/public/logo.png" alt="Vanderbilt University Logo"></a></span>

    <div class="topnav" id="myTopnav" role="navigation">
        <h1>IntEnzyDB</h1>
        <a href="/" class="navbutton">Home</a>
        <a href="/research" class="navbutton">Research</a>
        <a href="/kinetics/list" class="navbutton">Database</a>
        <a href="/team" class="navbutton">Team</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"><span class="visually-hidden">Menu</span></i>
        </a>
    </div>
    <hr>
</div>