<html>
   <head>
   <head>
     <link rel="icon" type="image/png" sizes="16x16" href="../logo.png">
     <link rel="stylesheet" href="/public/css/styles.css">
     <script src="/public/functions.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>

   </head>
       <body>
         {{> header}}
         <div class="container" role="main">
         {{{body}}}
         </div>
         {{> footer}}
       </body>
</html>