<title>IntEnzyDB Database Access</title>

<body>
<div class="textBox">
<div class="menu">
            <a href="/kinetics/list">Database</a>
            <a href="/search">Search</a>
            <a href="/statistics">Statistics</a>
            <a href="/access">Database Access</a>
</div>
<br>

        Contact <a href="mailto: zjygrp2020@gmail.com">zjygrp2020@gmail.com</a> to access Database

</body>
