<title>IntEnzyDB Database Access</title>
<body>
<div class="textBox">
<div class="menu">
            <a href="/kinetics/list">Kinetics Data</a>
            <a href="/kinetics/structure">Structure Data</a>
            <a href="/kinetics/reference">Kinetics-Structure Reference</a>
            <a href="/search">Search</a>
            <a href="/statistics">Statistics</a>
            <a href="/access">Database Access</a>
</div>
<br>
        To access the full content of database, please connect to our MongoDB database with connect string: “mongodb+srv://viewer:welcome2022@cluster0.5ey45.mongodb.net/myFirstDatabase?retryWrites=true&w=majority”. <br><br>Please contact <a href="mailto: zjygrp2020@gmail.com">zjygrp2020@gmail.com</a> if there is any additional questions.


</body>
