<title>IntEnzyDB Research</title>
<body>
<br>
<div class="container" role="main">

    <div class="textBox">

        <h2><b>Research Interest:</b></h2><br>
        My research group is broadly interested in developing and applying computational platforms via integration of
        first-principles simulations and data-driven models to quantify, understand, and design biomolecules that are
        critical to human health and bioengineering. Biomolecules serve as the building blocks of all life processes.
        The insights into their interactions and chemical transformations are essential for developing new drugs,
        biocatalysts, and therapeutic strategies. Enabled by the rapid evolution of computing power and data science
        algorithms, simulating the structure, dynamics, and chemical functions of biomolecules are now faster and more
        accurate than ever before. This grants us a special opportunity to innovate the high-throughput computational
        protocols to facilitate and guide biomolecular design and discovery for catalytic and medicinal uses.<br><br>
        <h3>Specifically, our research missions involve:</h3>
        <ul>
            <li>Develop new first-principles simulation protocols to rationally design protein mutants for enhancing
                the rate or selectivity for enzyme catalysis and peptide machine.</li>
            <li>Develop new machine learning models to efficiently predict protein mutational hotspots for functional
                enhancement.</li>
            <li>Develop an automatic high-throughput computational workflow to design biomolecules for catalytic,
            pharmaceutical, energy, and environmental applications.</li>
        </ul>
    </div>

</div>
</body>