<title>IntEnzyDB Database Search Function</title>

<body>
<div class="textBox">
<div class="menu">
            <a href="/kinetics/list">Database</a>
            <a href="/search">Search</a>
            <a href="/statistics">Statistics</a>
            <a href="/access">Database Access</a>
    <h4>Search document</h4><br><br>
    <form class="search" action="/kinetics/list/searchEC" method="GET">
                <input class="bar" type="text" placeholder="Search document by EC number..." name="resN" style="font-size: 12`pt; height: 30px; width:380px; ">
                <input type="submit" style= "font-size: 12`pt; height: 30px; width:80px">
    </form>
    <form class="search" action="/kinetics/list/searchUNIPROT" method="GET">
                <input class="bar" type="text" placeholder="Search document by UniProtKB..." name="resN" style="font-size: 12`pt; height: 30px; width:380px; ">
                <input type="submit" style= "font-size: 12`pt; height: 30px; width:80px">
    </form>
    </div>
</body>
