<title>IntEnzyDB Database Statistics</title>
<body>
<div class="textBox">
<div class="menu">
            <a href="/kinetics/list">Kinetics Data</a>
            <a href="/kinetics/structure">Structure Data</a>
            <a href="/kinetics/reference">Kinetics-Structure Reference</a>
            <a href="/search">Search</a>
            <a href="/statistics">Statistics</a>
            <a href="/access">Database Access</a>
</div>
<br>
                <br><hr><br>
                <p align="center">Number Of Enzymatic Reactions: 4037</p><br>
                <hr>
                <img class="graphs" src="/public/graphs/organisms-in-the-databas.jpeg" alt="Organisms in the database">
                <hr>
                <img class="graphs" src="/public/graphs/free-energy.jpeg" alt="Free Energy Graph">
                <hr>
                <img class="graphs" src="/public/graphs/frequency-of-mutations.jpeg" alt="Mutation Frequency Graph">

</body>
