<title>IntEnzyDB Team</title>

<body>
<div class="container" role="main">

    <div class="textBox">
        <h2><b>Meet the Team</b></h2>
        <main class="team">

            <section class="member">
                <div class="image">
                    <img src="public/images/John.jpeg" alt="Picture Of John">
                </div>
                <div class="bio">
                    <h3>Zhongyue (John) Yang</h3>
                    <h4>Project Director</h4><br>
                    I am an Assistant Professor of Chemistry and also affiliated to the Data Science Institute. My group and I are actively exploring tremendous opportunities in the interface between computational chemical biology and data science. Born in Tianjin, China, I graduated from Nankai University with a B.S. degree in Chemistry (Po-Ling class) in 2013. I received my Ph.D. with Prof. K. N. Houk in the Department of Chemistry at the University of California, Los Angeles in 2017. During my graduate career, we developed computational tools to simulate single-molecule reaction trajectories in solvent and in enzyme, which enables the elucidation of time-resolved mechanisms of biomolecular transformations in the condensed environment. From 2018 to 2020, I was a postdoctoral scholar in the group of Prof. Heather J. Kulik in the Department of Chemical Engineering at Massachusetts Institute of Technology. During this time, we leveraged large-scale quantum mechanics computation and molecular dynamics simulations to quantify constrained-peptide switch, understand the catalytic origins of methyltransferases, and predict the catalytic actions of glycyl radical enzymes in human gut microbiota.
                    For more info, please visit my <a href="https://lab.vanderbilt.edu/zyang-lab/" target="_blank">Personal Website</a>
                </div>
            </section>

            <br><br>

            <section class="member">
                <div class="image">
                    <img src="public/images/Sarah.jpeg" alt="Picture of Sarah">
                </div>
                <div class="bio">
                    <h3>Sarah Torrence<br>
                    </h3><h4>Master Student, Data Science Institute</h4><br>
                    I am a current graduate student at Vanderbilt pursuing an MS in Data Science. I graduated from Denison University in 2016 with a degree in Mathematics and minor in Economics. Over the last five years, I’ve had the opportunity to grow as a data science professional in various fields and industries including education, criminology, financial services, and digital advertising. I am inspired by the way we can apply analytics and creativity to the data of our past to gain insights and create a better future.
                    <br><br>
                    Contact: <a href="mailto: sarah.k.torrence@Vanderbilt.Edu">Email</a>
                </div>
            </section>

            <br><br>

            <section class="member">
                <div class="image">
                    <img src="public/images/Lucy.jfif" alt="Picture of Lucy Yan">
                </div>
                <div class="bio">
                    <h3>Bailu (Lucy) Yan</h3>
                    <h4>Research Assistant, Department of Chemistry, Vanderbilt University<br>
                        Ph.D. Student, School of Medicine, Vanderbilt University</h4><br>
                    As the data science lead in the team, I’m responsible for database construction and statistical modeling and providing data-driven guidance to our researches. Graduated from Southern Methodist University with a Master’s degree in Applied Statistics and Data Analytics, I worked as a data analyst in industry for 2 years, focusing on data science and data engineering. After working with Prof. Yang, I’m amazed by how data-driven methods can contribute to biomolecular scientific research. We are excited to see the bright future of incorporating statistical and data-driven methods to enzyme study, which will open doors for enzyme designing with interdisciplinary research advancement.
                    <br><br>
                    Contact: <a href="mailto: bailu.yan@vanderbilt.edu">Email</a>
                </div>
            </section>

            <br><br>

            <section class="member">
                <div class="image">
                    <img src="public/images/ran.jpeg" alt="Picture of Xinchun Ran">
                </div>
                <div class="bio">
                    <h3>Xinchun Ran<br>
                    </h3><h4>Ph.D. student, Department of Chemistry</h4><br>
                    I am currently a Ph.D. student focusing on enzyme function prediction. Previously, I was working on the protein tertiary strcuctures prediction algorithm development at Chinese Academy of Sciences (CAS) and particpating in CASP14 2020 (Critical Assessment of Protein Structure Prediction). Witnessing the highly accurate result of the tertiary structure prediction, I am now focusing on bio-molecular structure-related downstream task such as reactive enzyme-substrate complexes evaluation, Free energy prediction, enzyme mutants selection. The algorithms develop for these tasks are expected to serve protein designing/engineering.
                    <br><br>
                    Contact: <a href="mailto: xinchun.ran@vanderbilt.edu">Email</a>
                </div>
            </section>

            <br><br>

            <section class="member">
                <div class="image">
                    <img src="public/images/Li%20Yuan.jpg" alt="Picture of Li Yuan">
                </div>
                <div class="bio">
                    <h3>Li Yuan<br>
                    </h3><h4>Master Student, Data Science Institute</h4><br>
                    I’m a 2nd year Masters student majoring in Data Science. I finished my bachelor degree of Statistics in China. After that I went to UC Berkeley for one-year exchange program. My current research interests are Statistics Machine Learning, Convolutional Neural Networks for images and Recurrent Neural Network for natural language processing.
                    <br><br>
                    Contact: <a href="mailto: li.yuan@Vanderbilt.Edu">Email</a>
                </div>
            </section>

            <br><br>

            <section class="member">
                <div class="image">
                    <img src="public/images/anvita.JPG" alt="Picture of Anvita Gollu">
                </div>
                <div class="bio">
                    <h3>Anvita Gollu<br>
                    </h3><h4>Website Developer</h4><br>
                    I am a senior at Okemos High School and I will be majoring in Computer Science this fall. I have contributed to this team as a front-end developer and back-end developer to provide a web interface for their research.
                    <br><br>
                    Contact: <a href="mailto: anvigollu@gmail.com">Email</a>
                </div>
            </section>


        </main>
    </div>

</div>
</body>